.small-title h2 {
  font-size: 18px; // Adjusts font size of feature row if desired
}
.footer {
  background-color: rgb(0, 10, 97); /* Change the background color to sky blue */
  color: white; /* Change the font color to white */
}