---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
// Color Variables
$primary-color: #0468af; // Darker Blue
$primary-color-dark: #09568e; // Darker shade of blue
$primary-color-light: #2190c7; // Lighter shade of sky blue
$secondary-color: #ffffff; // White
$background-color: #ffffff; // Pale blue background
$text-color: #333333; // Dark gray text color

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "custom-styles";

.image-container {
    display: flex; /* This makes the container a flex container. */
    justify-content: center; /* This centers the child elements horizontally. */
    align-items: top; /* This centers the child elements vertically. */
    position: relative;
    width: 100%;
    max-width: 200px; /* This limits the width of the container. */
    min-width: 150px;
    overflow: hidden;
    margin: auto; /* This centers the container if it's smaller than its parent. */
    margin-right: 30px; /* Add this line to shift the image down by 100 pixels */
    margin-bottom: 100px; /* Add this line to shift the image down by 100 pixels */
}

.team-member-image {
    width: 100%;
    object-fit: cover;
    border-radius: 50%; /* This makes the image circular. */
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.team-member {
    height: auto; /* Allow the container to adjust its height based on content */
    display: flex; /* Add flex display to allow for flex-direction */
    align-items: flex-start; /* Align items to the top */
}

.team-member-details {
    flex: 1; /* Allow the details section to take up remaining space */
    display: flex; /* Add flex display to allow for flex-direction */
    flex-direction: column; /* Stack name, role, and bio vertically */
    justify-content: flex-start; /* Align items to the left */
}

.team-member-name {
    font-size: 36px; /* Adjust to the desired size */
    font-family: "Noto sans", sans-serif;
    margin-bottom: 0; /* This eliminates extra space below the name */
}

.team-member-role {
    font-size: 24px; /* Adjust to the desired size */
    font-family: "Noto sans", sans-serif;
}

.team-member-bio {
    max-width: 100%; /* Set maximum width for the bio */
    font-family: "Noto sans", sans-serif;
}

.team-member-link {
    line-height: 0;
}

.px-1{
    padding-left: 1px;
    padding-right: 1px;
}

.custom-image {
    width: 50%;
    /* Adjust the size as needed */
  }