---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
// Color Variables
$primary-color: #0468af; // Darker Blue
$primary-color-dark: #09568e; // Darker shade of blue
$primary-color-light: #2190c7; // Lighter shade of sky blue
$secondary-color: #ffffff; // White
$background-color: #ffffff; // Pale blue background
$text-color: #333333; // Dark gray text color

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "custom-styles";

.image-container {
    display: flex; /* This makes the container a flex container. */
    justify-content: center; /* This centers the child elements horizontally. */
    align-items: top; /* This centers the child elements vertically. */
    position: relative;
    width: 100%;
    max-width: 200px; /* This limits the width of the container. */
    min-width: 150px;
    overflow: hidden;
    margin: auto; /* This centers the container if it's smaller than its parent. */
    margin-right: 30px; /* Add this line to shift the image down by 100 pixels */
    margin-bottom: 100px; /* Add this line to shift the image down by 100 pixels */
}

.team-member-image {
    width: 100%;
    object-fit: cover;
    border-radius: 50%; /* This makes the image circular. */
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.team-member {
    height: auto; /* Allow the container to adjust its height based on content */
    display: flex; /* Add flex display to allow for flex-direction */
    align-items: flex-start; /* Align items to the top */
}

.team-member-details {
    flex: 1; /* Allow the details section to take up remaining space */
    display: flex; /* Add flex display to allow for flex-direction */
    flex-direction: column; /* Stack name, role, and bio vertically */
    justify-content: flex-start; /* Align items to the left */
}

.team-member-name {
    font-size: 36px; /* Adjust to the desired size */
    font-family: "Noto sans", sans-serif;
    margin-bottom: 0; /* This eliminates extra space below the name */
}

.team-member-role {
    font-size: 24px; /* Adjust to the desired size */
    font-family: "Noto sans", sans-serif;
}

.team-member-bio {
    max-width: 100%; /* Set maximum width for the bio */
    font-family: "Noto sans", sans-serif;
}

.team-member-link {
    line-height: 0;
}

.px-1{
    padding-left: 1px;
    padding-right: 1px;
}

.feature-row-image {
    max-width: 20%; /* Adjust the value as needed */
    margin: 0 auto; /* Center the image horizontally */
  }
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
    grid-gap: 0px;
  }
  
  @media (max-width: 600px) {
    .image-grid {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
  }
  
  .image-grid-item {
    position: relative;
    padding-bottom: calc(100% / 3 * 2);
  }
  
  .image-grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-grid-item:hover .image-overlay {
    opacity: 1;
  }
  
  .image-overlay-content {
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  
  .image-overlay-content p {
    margin-bottom: 10px;
  }
  
  .image-overlay-content a {
    color: #fff;
  }
  .underlined-title {
    font-family: Verdana, sans-serif;
    margin-bottom: 10px;
    position: relative;
    font-weight: normal;
  }
  
  .underlined-title::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px; /* Adjust the overall thickness of the underline here */
    background-color: #47e4e2; /* Adjust the color of the underline here */
    z-index: -1; /* Push the underline below the text */
  }
  
  .underlined-title b {
    position: relative;
    font-weight: bold;
    z-index: 1;
  }
  
  .underlined-title span {
    position: relative;
    display: inline-block;
    margin-bottom: -6px; /* Adjust the gap between the text and underline here */
  }
  
  .underlined-title .first-word::after {
    content: '';
    position: absolute;
    bottom: -6px; /* Adjust the position of the underline here */
    left: 0;
    width: 100%;
    height: 9px; /* Adjust the thickness of the first underline here */
    background-color: #47e4e2; /* Adjust the color of the first underline here */
    z-index: -1;
  }
  
  .underlined-title .second-word::after {
    content: '';
    position: absolute;
    bottom: -12px; /* Adjust the position of the underline here */
    left: 0;
    width: 100%;
    height: 3px; /* Adjust the thickness of the second underline here */
    background-color: #47e4e2; /* Adjust the color of the second underline here */
    z-index: -1;
  }